.anuncios {
  grid-area: anuncios;
  display: grid;
  background-color: #FAFBFC;
  align-content: start;
  padding: 30px;
  gap: 30px;
  /* O auto-fit é usado para preencher o maior tamanho disponível, e o minmax está definindo o tamanho mínimo e o tamanho máximo. */
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}