.header {
  grid-area: header;
  background: linear-gradient(135deg, #8844EE, #B07DFB);
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.logo {
  max-width: 200px;
}

.header nav ul {
  display: flex;
  flex-wrap: wrap;
}

.header nav a {
  display: block;
  padding: 10px;
  color: #FFFFFF;
  color: 1.125em;
  background: rgba(0, 0, 0, .1);
  border-radius: 5px;
  transition: 0.1s;
}

.header nav a:hover {
  background: rgba(0, 0, 0, .5);
}

/* Seleciona o LI após outro LI. */
.header li+li {
  margin-left: 30px;
}